################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/build/*
*.mexw64
*.asv
out/*
**.vscode/settings.json

# Python related ignores.
**/__pycache__
**.pytest_cache/
**pip-log.txt
**.pyd
**.pyc
**.pyo
**.eggs/
**.egg-info
wrappers/matlab/test_save.cmac
